.containerExp {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}

.titleExp {
  text-align: center;
}
.titleExp h3 {
  font-weight: 200;
  font-size: 40px;
  color: #363636;
  padding-top: 10px;
  margin-bottom: 40px;
}

.contentExp {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -khtml-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  color: #363636;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

.contentExp::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 11px;
}

.contentExpDate {
  font-size: 14px;
  position: absolute;
  top: -28px;
  left: 10px;
  font-weight: 400;
  color: #868686;
}
.contentExpItem {
  color: #868686;
  padding: 10px;
}

.contentExpItem h3 {
  font-size: 18px;
  margin: 5px;
  padding: 0;
  font-weight: 400;
  color: #ed3b3b;
}
.nameExp {
  background-color: #efefef;
  display: inline-block;
  margin: 5px;
  color: #222;
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 2px;
}
.contentExpItem p {
  font-size: 16px;
  margin: 5px;
  padding: 0;
  font-weight: 300;
  color: #555;
  line-height: 25px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  .containerExp {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {
}
